 <!-- Navbar -->
   <nav class = "navbar navbar-expand-md navbar-light bg-light sticky-top">
       <div class="container-fluid">
           <a class="navbar-brand" href="#"> <img src="./img/logo.jpg"> </a>
           UniqueTuf
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
               <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/connect">Connect</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-dark" id="signup" href="#">Login/SignUp</a>
                </li>
               </ul>
           </div>
       </div>
   </nav>

<p class="display 4">Welcome to our about page!</p>