
    <!-- Navbar -->
   <nav class = "navbar navbar-expand-md navbar-light bg-light sticky-top">
       <div class="container-fluid">
           <a class="navbar-brand" href="#"> <img src="./img/logo.jpg"> </a>
           UniqueTuf
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
               <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/connect">Connect</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-dark" id="signup" href="#">Login/SignUp</a>
                </li>
               </ul>
           </div>
       </div>
   </nav>


   <!-- Carousel -->

   <div id="carousel1" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel1" data-slide-to="0" class="active"></li>
      <li data-target="#carousel1" data-slide-to="1"></li>
      <li data-target="#carousel1" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./img/glass1.jpg" class="d-block" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">We make dreams</h2>
          <p>Tough Durable Reliable</p>
          <button class="btn btn-outline-light">Discover</button>
          <button class="btn btn-primary">View Products</button>
        </div>
      </div>
      <div class="carousel-item">
        <img src="./img/glass3.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="./img/glassbg1" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </div>
    </div>
  </div>

<!--Jumbotron-->

<div class="container-fluid">
  <div class="row jumbotron">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
      <h1 class="display-4">Be our customer</h1>
      <p lead>We boast of an impressive 100% customer satisfaction rate. We believe in the quality of our product and so will you. Pahle istemaal kare fir vishwaas kare!</p>
    </div>
    <div class="col-xs-9 col-sm-8 col-md-3 col-lg-3 col-xl-2">
      <button class="btn btn-outline-secondary" >Acknowledgements</button>
    </div>
    <div class="col-md-3 col-lg-3 col-xl-2"></div>
  </div>
</div>

<!--Welcome bit-->
<div class="padding"></div>
<div class="padding"></div>
<div class="container-fluid padding">
  <div class="row welcome text-center padding">
    <div class="col-12">
      <h1 class="display-2">BUILD BEAUTIFUL</h1>
    </div>
    <div class="padding"></div>
    <hr>
    <div class="col-12">
      <p id="webelieve">We believe in providing our customers with quality solutions</p>
    </div>
  </div>
</div>

<!--Three column section-->
<div class="container-fluid mt-3 padding">
  <div class="row text-center padding">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
      <i class="fas fa-filter"></i>
      <h3>Tough</h3>
      <p>Our glass is tougher</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
      <i class="fas fa-box"></i>
      <h3>Durable</h3>
      <p>Our glass is durable</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
      <i class="fas fa-check"></i>
      <h3>Reliable</h3>
      <p>Our glass is reliable</p>
    </div>
  </div>
</div>
<hr class="padding">

<!--Two column section-->
<div class="container-fluid padding">
  <div class="row padding text-center">
    <div class="col-md-1"></div>
    <div class="col-xs-12 col-sm-12 col-md-4">
      <h3 class="display-4" id="txtAdvantages">Advantages</h3>
      <ul class="list-group list-group">
        <li class="list-group-item list-group-item-dark">We charge much lesser</li>
        <li class="list-group-item list-group-item-secondary">We provide better quality</li>
        <li class="list-group-item list-group-item-dark">We provide 24x7 customer support</li>
        <li class="list-group-item list-group-item-secondary">We have branches all over India</li>
      </ul>
      <a href="#" class="btn btn-outline-dark mt-2 text-center">Learn More</a>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4 mt-4 col-lg-4 col-xl-4 float-center">
      <img src="./img/glassbg1" class="img-fluid">
    </div>
  </div>
</div>


<!--Static background slider-->
<figure>
  <div class="fixed-wrap">
    <div id="fixed">
      
    </div>
  </div>
</figure>

<!--Random emoji-->
<div class="col-12 text-center">
<button class="btn btn-dark" data-toggle="collapse" data-target="#emoji">GIF test button</button>
</div>
<div id="emoji" class="collapse">
  <div class="container-fluid padding mt-3">
    <div class="row text-center">
      <div class="col-sm-12 col-md-4 col-lg-3">
          <img class="gif" src="./img/panda.gif">
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3">
          <img class="gif" src="./img/alien.gif">
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3">
          <img class="gif" src="./img/poop.gif">
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3">
          <img class="gif" src="./img/chimken.gif">
      </div>
    </div>
  </div>
</div>
<hr class="my-4">

<!--Meet the team-->
<div class="padding"></div>
<div class="container-fluid padding">
  <div class="row text-center welcome ">
    <div class="col-12">
      <h1 class="display-3">Meet our team!</h1>
    </div>
  </div>
</div>
<div class="container-fluid padding">
  <div class="row padding text-center">
    <div class="col-md-4">
      <div class="card mb-3">
        <img class="card-img-top" src="./img/glass1.jpg">
        <div class="card-body">
          <h4 class="card-title">CS Pathak</h4>
          <h6 class="card-text">CS Pathak is the manager of UniqueTuf with 20+ years in the industry</h6>
          <a href="#" class="btn btn-outline-secondary">See Profile</a>
        </div>
      </div>  
    </div>
    <div class="col-md-4">
      <div class="card mb-3">
        <img class="card-img-top" src="./img/glass3.jpg">
        <div class="card-body">
          <h4 class="card-title">XYZ</h4>
          <h6 class="card-text">CS Pathak is the manager of UniqueTuf with 20+ years in the industry</h6>
          <a href="#" class="btn btn-outline-secondary">See Profile</a>
        </div>
      </div>  
    </div>
    <div class="col-md-4">
      <div class="card mb-3">
        <img class="card-img-top" src="./img/glass1.jpg">
        <div class="card-body">
          <h4 class="card-title">ABCD</h4>
          <h6 class="card-text">CS Pathak is the manager of UniqueTuf with 20+ years in the industry</h6>
          <a href="#" class="btn btn-outline-secondary">See Profile</a>
        </div>
      </div>  
    </div>
  </div>
</div>
<hr class="my-5">

<!--Connect-->
<div class="container-fluid padding">
  <div class="row text-center">
    <div class="col-12">
      <h1 class="display-3">Connect</h1>
    </div>
    <div class="col-12 social padding">
      <a href="https://www.facebook.com/shivam.shekhar.7359"> <i class="fab fa-facebook"> </i> </a>
      <a href="#"> <i class="fab fa-instagram"> </i> </a>
      <a href="#"> <i class="fab fa-twitter"> </i> </a>
      <a href="#"> <i class="fab fa-google-plus"> </i> </a>
      <a href="#"> <i class="fab fa-linkedin"> </i> </a>
    </div>
  </div>
</div>
<hr class="my-4">

<!--Footer-->
<div class="footer container-fluid padding">
  <div class="row text-center">
    <div class="col-md-4">
      <img src="./img/logo.jpg">
      <p>9931904040</p>
      <p>hellocspathak@gmail.com</p>
      <p>Address Line 1</p>
      <p>Address Line 2</p>
    </div>
    <div class="col-md-4">
      <hr class="light">
      <h3>Working Hours</h3>
      <hr class="light">
      <p>Weekdays : 10AM-8PM</p>
      <p>Saturday : 10AM-5PM</p>
      <p>Sunday : 5PM-8PM</p>
    </div>
    <div class="col-md-4">
      <hr class="light">
      <h3>Products</h3>
      <hr class="light">
      <p>Toughened Glass</p>
      <p>Product 2</p>
      <p>Product 3</p>
      <p>Product 4</p>
    </div>
  </div>
  <div class="col-12 text-center">
    <hr class="light">
    <p><b>©UniqueTuf India</b></p>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<style>

html, body{
    width : 100%;
    height: 100%;
    color : #222
}
#signup:hover{
    background-color: #222;
    color: white;
}
.navbar-nav li{
    padding : 0.2rem;
}
.nav-link {
    font-size : 0.9em !important;
}
.carousel-caption {
    position : absolute;
    top : 50%;
    transform : translateY(-50%);
}
.carousel-inner img{
    width: 100vw;
    height: 90vh;
}
.carousel-caption h2{
    text-shadow : 1px 1px 10px #000;
}
.carousel-caption p{
    font-weight : 500;
    text-shadow : 1px 1px 10px #000;
}
.jumbotron{
    border-radius : 0;
}
.padding{
    padding-bottom : 2rem;
}
#webelieve{
    font-size : 162%;
    padding-top : 1rem;
}
.welcome{

    margin : 0 auto;
}
.welcome hr{
    border-top : 2px solid #585656;
    width : 45%;
}
#txtAdvantages{
    font-size : 270%;
}
.fa-filter{
    color : rgb(197, 96, 13);
    font-size : 3.5em;
    margin-bottom : 0.35em;
}
.fa-box{
    color : rgba(11, 11, 119, 0.918);
    font-size : 3.5em;
    margin-bottom : 0.35em;
}
.fa-check{
    color : rgb(110, 22, 126);
    font-size : 3.5em;
    margin-bottom : 0.35em;
}
.gif{
    max-width : 100%;
}
.social a{
    font-size: 2.5em;
    padding: 1rem;
}
.fa-facebook{
    color : rgb(3, 3, 90);
}
.fa-instagram{
    color : purple;
}
.fa-google-plus{
    color : rgb(160, 6, 6);
}
.fa-linkedin{
    color : #0e76a8;
}
.fa-facebook:hover, .fa-instagram:hover,
.fa-twitter:hover, .fa-google-plus:hover,
.fa-linkedin:hover {
    color : #222;
}
.footer{
    color : white;
    background-color: #222;
    padding-top : 2rem;
}
.light{
    border-top : 1px solid #d5d5d5;
    width : 75%;
}
</style>